.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 2rem;
}

.top-image {
  position: absolute;
  right: 50%;
  bottom: 50%;
  z-index: -1;
}

.bottom-image {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
}
