@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans");

body {
  margin: 0;
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(185, 75%, 39%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
